.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 5em;
}

div#container {
    margin: 0 auto;
    height: 15em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data-title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

div.blog-check {
    margin-top: 30px;
    padding-bottom: 30em;
}

div.blog-before {
    width: 50%;
    float: left;
    padding-left: 5em;
}

div.blog-7 {
    width: 50%;
    float: left;
    padding-right: 5em;
}

h3.h-7 {
    margin-top: 0px;
}

div.section1{
    text-align: center;
    background-size: cover;
}

.button{
    width: 3em;
}