{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Xp-UA-Compatible" content="IE=edge">
    {# 窗口大小自适应↓ #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MY WEB | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}
        {# 这里加载每一页的css，css文件更清晰的同时不用同时加载全部css #}
    {% endblock %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Z D T</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# 用于自适应，只有窗口过小时启用 #}
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% block nav_home_active %}{% endblock %}"><a href="{% url 'home' %}">首页</a></li>
                <li class="{% block nav_blog_active %}{% endblock %}"><a href="{% url 'blog_list' %}">博客</a></li>
                <li class="{% block nav_tool_active %}{% endblock %}"><a href="{% url 'tools_list' %}">导航</a></li>
                <li><a href="http://zhendatou.cn:8000">网盘</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a></li>
                    <li><a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            {% if user.has_nickname %}
                                {{ user.username }}({{ user.get_nickname }})
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_info' %}">个人资料</a></li>
                            <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                            <li><a href="{% url 'logout' %}?from={{ request.get_full_path }}">注销</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>



{% block content %}{% endblock %}

<footer class="footer">
    <div class="footer-inner">
        <div class="copyright">
            基于
            <a href="https://www.djangoproject.com/" title="WordPress"> Django </a>
            构建 © 2019丨托管于
            <a target="_blank" href="https://cn.aliyun.com/">阿里云主机</a>
            丨苏ICP备19014358号-1
        </div>
    </div>
    </div>
</footer>

{% block script_extends %}{% endblock %}
</body>
</html>