* {
    margin: 0;
    padding: 0;
    }

div.navbar-header {
    width: 100px;
}

a.navbar-brand {
    margin-left: 5px!important;
}

body {
    margin-top: 70px!important;
}

span.pull-left ul {
    list-style: none;
}

ul.navbar-right {
    margin-right: 0;
}

footer {
    width: 100%;
    background: #f6f6f6;
    position: relative;
    float: left;
}

.footer-inner {
    max-width: 1226px;
    padding: 16px 20px 14px;
    margin: 0 auto;
    color: #8a8a8a;
    text-shadow: 0 -1px 0 #c3c3c3;
}

.copyright {
    text-align: center;
    float: none !important;
}